/**
 * Rules for custom properties:
 *  - Font sizes must be specified in relative sizes (i.e. `rem`), everything using
 *  exact units (i.e. `px`).
 */
:root {

  // #region Colors

  --dark-color:         #424242;

  /* Aubergine */
  --aubergine-500:      #9f81b7;

  /* Mandarin */
  --mandarin-500:       #e07144;

  /* Minty */
  --minty-200:          #acd4cb;
  --minty-300:          #6fb8ad;
  --minty-500:          #18999e;
  
  /* Tan */  
  --tan-100:            #f2e4c7;

  --pc-shadow-color:    var(--dark-color);
  --pc-outline-color:   var(--dark-color);

  // #endregion Colors

  // #region Outlines

  --pc-border:          4px solid var(--pc-outline-color);
  --pc-border-radius:   12px;

  // #endregion Outlines

  // #region Shadows

  --pc-shadow:          4px 4px 0 0 var(--pc-shadow-color);
  --pc-shadow-low:      0px 0px 0 0 var(--pc-shadow-color);
  --pc-shadow-high:     6px 6px 0 0 var(--pc-shadow-color);

  // #endregion Shadows

}