:root {

   --shadow-500:        #424242;

  /* Aubergine */
  --aubergine-100:      #e4d9ef;
  --aubergine-300:      #c7b6d8;
  --aubergine-500:      #9f81b7;

  /* Mandarin */
  --mandarin-100:       #f9e3da;
  --mandarin-300:       #f3c6b4;
  --mandarin-500:       #e07144;

  /* Minty */
  --minty-200:          #acd4cb;
  --minty-300:          #6fb8ad;
  --minty-500:          #18999e;
  
  /* Tan */  
  --tan-100:            #f2e4c7;
  --tan-300:            #f2e4c7d3;

}