:root {

   --shadow-500:        #424242;

   /* Tan */  
  --tan-100:            #f2e9e4;
  --tan-300:            #c9ada7;
  --tan-500:            #9a8c98;
  --tan-800:            #443636;
  
  /* Minty */
  --minty-500:          #90ee90;

  /* Mandarin */
  --mandarin-100:       #faeee7;
  --mandarin-200:       #f9e3da;
  --mandarin-300:       #f3c6b4;
  --mandarin-500:       #e07144;
 
  
}