:root {

   --shadow-500:        #424242;

  /* Aubergine */
  --aubergine-500:      #9f81b7;

  /* Mandarin */
  --mandarin-500:       #e07144;

  /* Minty */
  --minty-200:          #acd4cb;
  --minty-300:          #6fb8ad;
  --minty-500:          #18999e;
  
  /* Tan */  
  --tan-100:            #f2e4c7;

}